[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An Alexa skill sample with Arduino Ethernet Shield as webclient, duplex HTTP/JSON call
[access "refs/*"]
	owner = group user/Alex Xiong (AlexXiong97)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Alex Xiong (AlexXiong97)
	label-Verified = -1..+1 group user/Alex Xiong (AlexXiong97)
	push = group user/Alex Xiong (AlexXiong97)
	read = group user/Alex Xiong (AlexXiong97)
	rebase = group user/Alex Xiong (AlexXiong97)
	removeReviewer = group user/Alex Xiong (AlexXiong97)
	submit = group user/Alex Xiong (AlexXiong97)
[access "refs/heads/*"]
	create = group user/Alex Xiong (AlexXiong97)
	push = +force group user/Alex Xiong (AlexXiong97)
	pushMerge = group user/Alex Xiong (AlexXiong97)
	read = group user/Alex Xiong (AlexXiong97)
[access "refs/tags/*"]
	push = group user/Alex Xiong (AlexXiong97)
	push = +force group user/Alex Xiong (AlexXiong97)
